@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

body, h1 , h2, h3 , h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(assets/img/bg-390.png);
    background-size: cover;
    height: 100dvh;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

/* Dealer/ Player Section */

.title {
    display: flex;
    justify-content: center;
    gap: 0 2rem;
    align-items: center;
    margin-block: 2rem;
}

.cards-container {
    display: flex;
    flex: 1;
    justify-content: center;

}

.cards {
    min-width: 10rem;
    min-height: 20rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: 3px solid black;
    box-shadow:
     black 0 10px 10px,
     black 0 20px 20px,
     black 0 40px 40px;
     margin-bottom: 2rem;
}



/* <div class="cards-container">
                    <div class="cards">
                        <img src="assets/img/blackjackcard.png" alt="BlackJack card">
                        <div class="card-number">0</div>
                    </div> */

/* Button Section */

.button-triggers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button, #trigger-section {
    background-color: black;
    border: none;
    min-width: 6rem;
    max-width: 13rem;
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: rgb(237, 179, 32);
}


