@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

body, h1 , h2, h3 , h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(assets/img/pokertable2.jpg);
    background-size: cover;
    background-position: center right 50%;
    height: 100dvh;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* Dealer/ Player Section */

h2 {
    font-size: 1.5rem;
}

#dealer-count, #player-count {
    font-size: 1rem;
    font-weight: bold;
}

.title {
    display: flex;
    justify-content: center;
    gap: 0 1rem;
    align-items: center;
    margin-block: 2rem;
    font-weight: bold;
}

.cards-container {
    display: flex;
    flex: 1;
    justify-content: center;
}

.cards {
    font-size: 1.5rem;
}

.button-triggers {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    max-width: 20rem;
}

button, #trigger-section {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
    font-weight: bold;
}

#trigger-section {
    min-width: 19.4rem;
    background-color: white;
    color: black;
    line-height: 1.2rem;
}

#finish-button {
    background-color: white;
    color: black;
}

#finish-button:active {
    background-color: rgb(237, 179, 32);
}

button {
    min-width: 9rem;
    margin: 2rem .4rem;
}

button:hover {
    cursor: pointer;
    border: .2rem rgb(237, 179, 32) solid;
}

button:active {
    background-color: rgb(237, 179, 32);
}


